.orderTitle {
    color: green;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.eachOrder {
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1260px;
    padding: 20px;
    margin: 10px 0;
}

.date-and-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.orderDate {
    font-size: 1.17em;
    font-weight: bold;
    font-weight: bold;
    color: #555;
    min-width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.totalPriceTitle {
    font-weight: bold;
    color: #555;
    min-width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.order ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.order li {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    max-width: 300px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .order ul {
        flex-direction: column;
    }

    .order li {
        flex-basis: 100%;
    }
}